*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.containerFooter{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa {
    width: 30px;
    color: black;
  }
  
  .fa:hover {
    opacity: 0.5;
  }

  .verticalLine{
    border-left: 1px solid #000000;
    height: 30px;
    margin: 20px;
  }

  .newsletter{
    margin: 0 0 20px;
    font-size: 1rem;
    letter-spacing: 3px;
  }
t
  .newsletter p{
      text-align: center;
      text-transform: capitalize;
  }

  .newsletter input{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px;
    background: #ffffff;
    letter-spacing: 3px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

  .copyright {
    text-align: center;
  }

  .copyright p {
    font-size: 0.7rem;
    line-height: 1.6;
    letter-spacing: 3px;
  }